
<!-- emmet -->

<form acction="/crear-noticia"
method="post">
    <div>
    <label for="titulo">TITULO</label>
    <input id="Titulo" name="titulo" type="text">
    </div>
    <div>
    <label for="">Descripcion</label>
    <textarea id="descripcion"
              name="descripcion"
              cols="30" rows="4"></textarea>
    </div>

    <button>Crear Noticia</button>
</form>

<a href="/inicio"><button>Regresar</button></a>